* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.section-course {
  background-color: white;
  padding: 4rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem #333;
  position: relative;
}
.course-big {
  font-size: 8rem;
  font-weight: 900;
  color: #000;
  filter: opacity(0.1);
  position: absolute;
  left: 50%;

  transform: translate(-50%, -35%);
}
.course-litle {
  font-size: 3.6rem;
  color: #000;
  text-align: center;
  font-weight: 900;
}
.flex-course {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.right-course {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #111;
}
.check {
  display: flex;
  justify-content: flex-start;
  gap: 2.4rem;
}
.check i {
  font-size: 2.4rem;
  color: rgb(0, 128, 53);
}
.text-course {
  font-size: 1.6rem;
  color: #555;
  font-weight: 500;
}
.left-course {
  background-color: #000;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  gap: 2.4rem;
}
.one-left {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.one-left del {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.number {
  font-size: 2.4rem;
  font-weight: 600;
  color: white;
}
.toman {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}
.two-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.big-number {
  color: white;
  font-size: 3.6rem;
  font-weight: 700;
}
.tomom {
  font-size: 3.2rem;
  color: white;
  font-weight: 700;
}
.reg {
  color: white;
  background-color: #f36732;
  font: 2.4rem;
  border-radius: 0.8rem;
  padding: 1rem 5rem;
  border: none;
  font-weight: 700;
}
.center-text {
  font-size: 1.6rem;
  text-align: center;
  color: #555;
}
.right-text {
  font-size: 1.6rem;
  color: white;
}
del {
  color: wheat;
}
.request {
  background-color: #000;
  padding: 2rem 0rem 2rem 0rem;
}
.req-flex {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 4rem;
}
.req-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}
.request-txt {
  font-size: 3.2rem;
  font-weight: 700;
  color: white;
}
.request-ctxt {
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
}
.req-right input {
  background-color: #555;
  border-radius: 1rem;
  padding: 1rem;
  width: 50%;
}
.req-right input::placeholder {
  font-size: 1.8rem;
  color: white;
}
.btm-req {
  display: flex;
  gap: 1rem;

  justify-content: flex-start;
  align-items: center;
}
.btm-req i {
  font-size: 1.8rem;
  color: rgb(0, 128, 53);
}
.request-2 {
  font-size: 1.6rem;
  color: white;
}
.big-img {
  width: 350px;
  position: absolute;
  left: 30%;
  top: 0;
}
.litle-img {
  width: 150px;
  position: absolute;
  left: 60%;
  top: 60%;
  transform: translate(-50%, -35%);
}
.req-image {
  position: relative;
  display: flex;
  width: 50%;
}
.flex-pro {
  padding: 0;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  justify-content: space-between;
}
.proj-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.circle {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}
.circ {
  width: 3rem;
  height: 3rem;
  background-color: #000;
  border-radius: 50%;
}
.desig {
  column-rule: #000;
  font-size: 3.2rem;
  font-weight: 700;
}
.pro-txt {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  line-height: 1.8;
}
.pro-check {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.pro-text {
  font-size: 1.4rem;
  color: #333;
  font-weight: 400;
}
.pro-btm {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #777;
  border-radius: 1rem;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gor {
  background-color: #aaa;
  border-radius: 2rem;
  width: 100%;
  height: 20rem;
}
.ver {
  background-color: #f0f0f0;
  border-radius: 2rem;
  width: 50%;
  margin: 0 auto;
  height: 30rem;
  transform: translate(0, -50%);
  box-shadow: 0 0 1.5rem #777;
}
.pro-ico {
  margin-top: -15rem;
  display: flex;
  justify-content: space-between;
}
.pro-ico i {
  font-size: 3.2rem;
}
.pro-left {
  width: 40%;
}
.foot-section {
  padding: 4.2rem 0rem;
  background-color: #f0f0f0;
}
.sched-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dashed {
  height: 0.01rem;
  border: 0.05rem dashed #333;
}
.sched-start {
  font-size: 2.4rem;
  font-weight: 700;
  color: #111;
}
.sched-date {
  display: flex;
  justify-content: space-between;
}
.start-date {
  width: 40%;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #555;
}
.start-date p {
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
}
.onbir {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}
.sched-btm {
  font-size: 2.4rem;
  font-weight: 700;
  color: #111;
}
.sched-btm span {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #111;
  color: white;
  font-size: 3.2rem;
}
.container-img {
  width: 100%;
  /* yangi section */
  /* * {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
} */
}
.container1 {
  background-color: #111111;
  padding: 0 15rem;
}
/* our header started */
.header img {
  width: 12rem;
}
.header {
  padding: 3rem 0.5rem;
  background-color: #111111;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header a {
  text-decoration: none;
  font-size: 1.8rem;
  text-align: center;
  color: white;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.5s;
  cursor: alias;
}
.header a:hover {
  transform: scale(1.1);
  color: #f79470;
}
.header a:active {
  margin-top: -1rem;
}
.Register {
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #707070;
}
.Register:hover {
  background-color: #9b9b9b;
}
/* our header finished */
/* our Hero_slider started */
.Hero_slider {
  height: 70rem;
  background-color: white;
  margin: 0 auto;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translate(0, 0);
  box-shadow: 0px 0px 40px 20px rgba(128, 128, 128, 0.267);
}
h1 {
  font-size: 5rem;
}
.Product_Factory {
  width: 35rem;
  padding: 2rem 0;
  background-size: cover;
}
.Hero_content {
  font-size: 1.8rem;
  line-height: 5.5rem;
}
.Start_Register {
  padding: 1.5rem 12rem;
  margin-top: 2rem;
  font-size: 2.4rem;
  border: 0;
  background-color: #f46632;
  border-radius: 2rem;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.5s;
  cursor: pointer;
}
.Start_Register:hover {
  background-color: #f79470;
  color: white;
}
.Start_Register:active {
  transform: scale(1.05);
  background-color: #f46632;
}
/* our Hero_slider finished */
/* our about us started */
.container2 {
  /* background-color: #fafafa; */
  /* background-color: rgba(128, 128, 128, 0.63); */
  width: 100%;
  margin: 20rem auto;

  /* height: 130rem; */
}
.about_us_page {
  background-color: white;
  border-radius: 2rem;
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;

  /* left: 17.6rem; */
}

.about_us_one {
  width: 67rem;
  margin-left: 5rem;
  margin-top: -5rem;
}
.about_us_two {
  width: 30rem;
  margin-left: 6rem;
}
.about_us_three {
  width: 2rem;
  margin-left: 8rem;
}
.about_us_three:hover {
  cursor: pointer;
}
.about_us_three:active {
  transform: scale(1.1);
}
.about_us_page_content {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
}
/* our about_us page finished */
/* our Course_Experience started */
.Course_Experience {
  width: 80%;
  background-color: white;
  margin: 0 auto;
  border-radius: 2rem;
  padding: 2rem;
  /* margin-top: -40rem; */
}
.Course_Experience img {
  width: 40rem;
  display: block;
  margin: 0 auto;
}
.Course_Experience_menu {
  border: 2px solid black;
  width: 70%;
  height: 5rem;
  margin: 5rem auto;
  border-radius: 2rem;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
}
.Course_Experience_menu p {
  width: 33.35%;
  text-align: center;
  padding: 1.3rem 0;
  border-radius: 2rem;
}
.border_content {
  border-left: 3px solid black;
  padding: 1.3rem 0;
  border-right: 3px solid black;
}

.Course_Experience_menu p:hover {
  background-color: black;
  color: white;
}
.Experience_content {
  width: 50%;
}
.Course_Experience_content2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* yangi section */
.session-sarlavha {
  margin: 0 auto;
  width: 20%;
  background-image: url("../images/Sessions.png");
  background-position: center;
  background-size: cover;
  padding: 2.5rem;
  margin-bottom: 10rem;
}
.session-saelavham {
  margin-top: 1rem;
  /* margin-top: 0.3rem; */
  font-size: 2.4rem;
  text-align: center;
}
.session-section {
  margin-top: 20rem;
  background-color: #fff;
}
.aa03 {
  /* width: 40rem; */
  width: 30rem;
  margin-left: -5rem;
}
.section-card {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.section-card-name {
  display: flex;
  column-gap: 20rem;
  background-color: #f8f8f8;
  width: 95%;
  padding: 0.5rem;
  border-left: 4px solid #000;
}
.section-cards-name {
  font-size: 2rem;
}
.section-card-name2 {
  display: flex;
  font-size: 1.4rem;
  column-gap: 8rem;
  align-items: center;
}
/* }
.section-card-img {
  display: grid;
  grid-template-columns: 0.7fr 3fr;
  column-gap: 7rem;
  padding: 0.5rem;
  /* display: flex;
  column-gap: 13.5rem; */
.section-card-img {
  display: grid;
  grid-template-columns: 0.7fr 3fr;
  column-gap: 15rem;
  padding: 0.5rem;
}
.images-card-about {
  font-size: 1.4rem;
  width: 90%;
  line-height: 1.8;
}

.azizjon {
  display: flex;
  column-gap: 1rem;
}
.azizjon img {
  width: 60%;
}
.section-cards {
  margin-left: 10rem;
  border-left: 2px solid #e8e8e8;
}
.aa12 {
  background-image: url("../images/Group\ 853.png");
}
.master-cards {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  /* grid-template-rows: 1.5fr 0.5fr 0.5fr; */
}

.master-section {
  margin-top: 5rem;
  background-color: #fff;
  box-shadow: 0 0 5px #f0f0f0;
}
.master-card {
  margin-left: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  padding: 2rem;
  overflow: hidden;
}
.master-card-name {
  font-size: 1.8rem;
}
.master-card-nm {
  font-size: 1.6rem;
  font-weight: 500;
}
.master-card img:hover {
  transform: scale(1.1);
}
.faq-section {
  margin-top: 5rem;
}

.aa11 {
  background-image: url("../images/FAQ.png");
}
/* .accardion1 {
  width: 85%;
  margin-left: 10rem;
} */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 4rem;
  border-radius: 1rem;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  font-size: 1.6rem;
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.accardion {
  font-size: 1.6rem;
}
.aa15 {
  display: flex;
  justify-content: space-between;
}
