* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.section-course {
  background-color: white;
  padding: 4rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem #333;
  position: relative;
}
.course-big {
  font-size: 8rem;
  font-weight: 900;
  color: #000;
  filter: opacity(0.1);
  position: absolute;
  left: 50%;

  transform: translate(-50%, -35%);
}
.course-litle {
  font-size: 3.6rem;
  color: #000;
  text-align: center;
  font-weight: 900;
}
.flex-course {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.right-course {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #111;
}
.check {
  display: flex;
  justify-content: flex-start;
  gap: 2.4rem;
}
.check i {
  font-size: 2.4rem;
  color: rgb(0, 128, 53);
}
.text-course {
  font-size: 1.6rem;
  color: #555;
  font-weight: 500;
}
.left-course {
  background-color: #000;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  gap: 2.4rem;
}
.one-left {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.one-left del {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.number {
  font-size: 2.4rem;
  font-weight: 600;
  color: white;
}
.toman {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}
.two-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.big-number {
  color: white;
  font-size: 3.6rem;
  font-weight: 700;
}
.tomom {
  font-size: 3.2rem;
  color: white;
  font-weight: 700;
}
.reg {
  color: white;
  background-color: #f36732;
  font: 2.4rem;
  border-radius: 0.8rem;
  padding: 1rem 5rem;
  border: none;
  font-weight: 700;
}
.center-text {
  font-size: 1.6rem;
  text-align: center;
  color: #555;
}
.right-text {
  font-size: 1.6rem;
  color: white;
}
del {
  color: wheat;
}
.request {
  background-color: #000;
  padding: 2rem 0rem 2rem 0rem;
}
.req-flex {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 4rem;
}
.req-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}
.request-txt {
  font-size: 3.2rem;
  font-weight: 700;
  color: white;
}
.request-ctxt {
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
}
.req-right input {
  background-color: #555;
  border-radius: 1rem;
  padding: 1rem;
  width: 50%;
}
.req-right input::placeholder {
  font-size: 1.8rem;
  color: white;
}
.btm-req {
  display: flex;
  gap: 1rem;

  justify-content: flex-start;
  align-items: center;
}
.btm-req i {
  font-size: 1.8rem;
  color: rgb(0, 128, 53);
}
.request-2 {
  font-size: 1.6rem;
  color: white;
}
.big-img {
  width: 350px;
  position: absolute;
  left: 30%;
  top: 0;
}
.litle-img {
  width: 150px;
  position: absolute;
  left: 60%;
  top: 60%;
  transform: translate(-50%, -35%);
}
.req-image {
  position: relative;
  display: flex;
  width: 50%;
}
.flex-pro {
  padding: 0;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  justify-content: space-between;
}
.proj-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.circle {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}
.circ {
  width: 3rem;
  height: 3rem;
  background-color: #000;
  border-radius: 50%;
}
.desig {
  column-rule: #000;
  font-size: 3.2rem;
  font-weight: 700;
}
.pro-txt {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  line-height: 1.8;
}
.pro-check {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.pro-text {
  font-size: 1.4rem;
  color: #333;
  font-weight: 400;
}
.pro-btm {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #777;
  border-radius: 1rem;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gor {
  background-color: #aaa;
  border-radius: 2rem;
  width: 100%;
  height: 20rem;
}
.ver {
  background-color: #f0f0f0;
  border-radius: 2rem;
  width: 50%;
  margin: 0 auto;
  height: 30rem;
  transform: translate(0, -50%);
  box-shadow: 0 0 1.5rem #777;
}
.pro-ico {
  margin-top: -15rem;
  display: flex;
  justify-content: space-between;
}
.pro-ico i {
  font-size: 3.2rem;
}
.pro-left {
  width: 40%;
}
.foot-section {
  padding: 4.2rem 0rem;
  background-color: #f0f0f0;
}
.sched-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dashed {
  height: 0.01rem;
  border: 0.05rem dashed #333;
}
.sched-start {
  font-size: 2.4rem;
  font-weight: 700;
  color: #111;
}
.sched-date {
  display: flex;
  justify-content: space-between;
}
.start-date {
  width: 40%;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #555;
}
.start-date p {
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
}
.onbir {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}
.sched-btm {
  font-size: 2.4rem;
  font-weight: 700;
  color: #111;
}
.sched-btm span {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #111;
  color: white;
  font-size: 3.2rem;
}
.container img {
  width: 100%;
}
